<%= render partial: 'shared/top_nav', locals: { text: 'Direct' } %>
<div class="mx-4 mt-4">
  <h4 class="font-bold">Messages</h4>

  <% @presenter.direct_messages.each do |dm| %>
    <%= render partial: 'content', locals: { direct_message: dm, other_person: dm.other_person(current_user) } %>
  <% end %>
</div>
