<%= render partial: 'shared/top_nav' %>

<div class="mx-3 mt-4">
  <div id="comments" data-post-id="<%= @post.id %>">
    <% @comments.each do |comment| %>
      <%= render partial: 'content', locals: { comment: comment, first: @comments[0] == comment } %>
    <% end %>
  </div>
  <%= render partial: 'form', locals: { post: @post, comment: @new_comment } %>
</div>
