<!-- Primary Meta tags -->
<title>Clone-stagram</title>
<meta name="title" content="Clone-stagram" />
<meta name="description" content="An Instagram clone made with Ruby on Rails." />

<!-- Facebook OG data -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://clone-stagram-w.herokuapp.com/" />
<meta property="og:title" content="Clone-stagram" />
<meta property="og:description" content="An Instagram clone made with Ruby on Rails." />
<meta property="og:image" content="<%= image_path 'splash_screens/ipad-pro129.png' %>" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://clone-stagram-w.herokuapp.com/" />
<meta property="twitter:title" content="Clone-stagram" />
<meta property="twitter:description" content="An Instagram clone made with Ruby on Rails." />
<meta property="twitter:image" content="<%= image_path 'splash_screens/ipad-pro129.png' %>">
