<div class="flex items-center bg-white border-b-2 justify-between p-2">
  <div class="flex items-center">
    <%= inline_svg_tag 'arrow.svg', class: "left-arrow" %>
    <p class="ml-4">Comments</p>
  </div>

  <%= link_to "#" do %>
    <i class="material-icons">send</i>
  <% end %>
</div>
