<%= link_to search_path do %>
  <div class="w-full">
    <div class="relative">
      <span class="relative inline-block w-full shadow">
        <i class="material-icons absolute text-xl z-50 text-gray-600" style="top: 8px; left: 8px;">search</i>
        <input type="text" id="algolia-search" class="relative bg-white w-full py-2 pr-4 pl-10 block" placeholder="Search" data-action="input->algolia-autocomplete#search" />
      </span>
    </div>
  </div>
</div>
<% end %>
