<h1 class="text-center text-3xl">Create a new post</h1>

<%= simple_form_for @post, html: { data: { controller: "preview-image" }, class: "flex flex-col flex-wrap" } do |f| %>
  <div class="flex flex-wrap my-6 px-4">
    <%= f.input :photos, as: :file,
                required: false,
                wrapper_html: { class: 'w-full' },
                label_html: { class: 'italic cursor-pointer inline-block w-full bg-gray-300 hover:bg-gray-400 duration-300 p-4 rounded text-center' }, label: '📷 Choose picture(s)!',
                input_html: { multiple: true, accept: "image/*", data: { action: "change->preview-image#preview" }, class: "hidden" } %>
  </div>

  <img src="" alt="preview-photo" data-target="preview-image.image" class="hidden mb-6 w-full" />

  <div class="px-4">
    <button type="submit" class="w-full bg-red-400 hover:bg-red-500 duration-300 text-white font-bold py-2 px-4 rounded">Upload post</button>
  </div>
<% end %>
